---
const { title, image, description, success, id } = Astro.props;
const launchStatus = success ? "Success" : "Failure";
---

<a href={`/launch/${id}`}>
	<div
		class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
	>
		<img
			class="w-rounded-t-xl mx-auto p-5"
			width="300"
			height="300"
			src={image}
			alt="Image Description"
		/>
		<div class="p-4 md:p-5">
			<h3 class="text-lg font-bold text-gray-800 dark:text-white">{title}</h3>
			<p class="mt-1 text-gray-500 dark:text-gray-400 h-[4.5rem] line-clamp-3">
				{description}
			</p>
			<p
				class:list={[
					"mt-5 text-xs text-gray-800 inline-block p-2 rounded-md font-bold",
					{
						"bg-green-400 text-green-900": success,
						"bg-red-400 text-red-900": !success,
					},
				]}
			>
				{launchStatus}
			</p>
		</div>
	</div>
</a>
